<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>正文页</title>
    <!-- 引入 Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:8000/blog/1?#">首页</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/blog/1">列表页</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 文章部分在下面 -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">文章标题</h1>
                <p class="text-center">Published on August 29, 2023</p>
    
                <div>
                    {% for image in article_images %}
                    <img src="{{ image.url }}" alt="Article Image" class="img-fluid">
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {% if context %}
                    <p>
                        texttexttexttexttext
                        这里是文章的正文内容 
                        texttexttexttexttext
                    </p>
                    {% endif %}
                </div>
                <div class="mt-4">
                    <div>
                        {% if author %}
                        Author: {{ author }}
                        {% endif %}
                    </div>
                    <div>
                        {% if manager %}
                        Manage: {{ manager }}
                        {% endif %}
                    </div>
                    <div>
                        {% for keyword in keywords %}
                        关键词：{{ keyword }}
                        {% endfor %}
                    </div>
                    <a href="#" class="btn btn-primary">前往原文</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 文章部分在上面 -->
    
    <!-- 评论部分在下面 -->
    

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="form-inline" id="searchForm">
                    <div class="input-group">
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="username" placeholder="username">
                        </div>
                        <input type="text" class="form-control" id="comment_text" placeholder="评论">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 脚本全放最后面 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    


    <script>
        // 在页面加载后执行 
        $(document).ready(function () { //jquery提供的函数
            // 监听表单的提交事件
            $('#searchForm').submit(function (event) {
                // 阻止默认的表单提交行为
                event.preventDefault(); 
                // 在控制台打印搜索框的值
                var username = $('#username').val();
                console.log('名字：', username);
                var comment_text = $('#comment_text').val();
                console.log('评论：', comment_text);
                // 在这里您可以进行进一步的处理，如发起搜索请求等
            });
        });
    </script>
</body>
</html>
